<div class="row">
	<div class="span2 offset10">
		<a href="<%= new_profile_box_path(@profile) %>">Add new box</a>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		<div class="thumbnail" style="text-align:center">
			<h1><%= @slug %></h1>
		</div>
	</div>
</div>

<!--
<div class="row">
	<div class="span6">
		<div class="thumbnail">
			<img src="http://placehold.it/1250x1250">
		</div>
	</div>
	<div class="span6">
		<div class="row">
			<div class="span6 thumbnail">
				<p>Sweet Band is a rockin bluegrass/electro outfit from Reginald, WY. Featuring Todd Langley on the eBanjo and Miriam Gorblsey on the washboard, you're sure to enjoy their eclectic mix of stuff.</p>
			</div>
		</div>
		<div class="row">
			<div class="span6 thumbnail">
				<p>UPCOMING SHOWS<br><br>May 3 - Bob's BBQ<br>May 6 - The Hornwell</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		<div class="thumbnail" style="text-align:center">
			<h1>mp3 player goes here</h1>
		</div>
	</div>
</div>
-->

<!-- Render each box -->
<% @profile.boxes.each do |box| %>
	<div class="row">
		<div class="span8 offset2">
			<div class="thumbnail" style="text-align:center">
				<p><%= box.text %></p>
			</div>
		</div>
	</div>
<% end %>