<div class="row">
	<div class="span2 offset10">
		<a href="<%= new_profile_box_path(@profile) %>">Add new box</a>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		<div class="thumbnail" style="text-align:center">
			<h1><%= @slug %></h1>
		</div>
	</div>
</div>


<% @profile.boxes.each do |box| %>
	<div class="row">
		<div class="span8 offset2">
			<div class="thumbnail" style="text-align:center">
				<p><%= box.text %></p>
			</div>
		</div>
	</div>
<% end %>