<% if user_signed_in? %>

	<%= render 'users/dashboard' %>

<% else %>

<div class="hero-unit">
	<h1>Roqbox is a music service for motherfuckers.</h1>
	<p>
			<%= link_to "Fuck you", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>

<% end %>

