<% if user_signed_in? %>

<div class="hero-unit">
	<h1>welcome to roqbox.</h1>
	<%= form_for @profile do %>
		<p>roqbox.net/<%= text_field_tag(:slug,"",:class=>"span4") %></p>
		<p><%= submit_tag("create new profile",:class=>"btn btn-primary") %></p>
	<% end %>
</div>

<% else %>

<div class="hero-unit">
	<h1>Roqbox is a music service for motherfuckers.</h1>
	<p>
			<%= link_to "Fuck you", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>

<% end %>

