/* Letter r */

#roqbox_container_r {
	position: absolute;
	background-color: #ffffff;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	border: 8px solid #331189;
}

#roqbox_r_1 {
	position: relative;
	background-color: #331189;
	left: 8px;
	top: 16px;
	width: 8px;
	height: 16px;	
}

#roqbox_r_2 {
	position: relative;
	left: 8px;
	top: -8px;
	border-top: 8px solid transparent;
	border-right: 8px solid #331189; 
}

#roqbox_r_3 {
	position: relative;
	left: 8px;
	top: -25px;
	border-top: 8px solid #331189;
	border-right: 8px solid transparent; 
}

#roqbox_r_4 {
	position: absolute;
	background-color: #331189;
	left: 16px;
	top: 8px;
	width: 8px;
	height: 25px;	
}

#roqbox_r_5 {
	position: absolute;
	background-color: #331189;
	left: 24px;
	top: 8px;
	width: 8px;
	height: 24px;	
}

/* Letter o */

#roqbox_container_o {
	position: absolute;
	background-color: #ffffff;
	left: 40px;
	top: 0px;
	width: 32px;
	height: 32px;
	border: 8px solid #331189;
}

#roqbox_o_1 {
	position: relative;
	background-color: #331189;
	left: 8px;
	top: 16px;
	width: 8px;
	height: 16px;	
}

#roqbox_o_2 {
	position: relative;
	left: 8px;
	top: -8px;
	border-top: 8px solid transparent;
	border-right: 8px solid #331189; 
}

#roqbox_o_3 {
	position: relative;
	left: 8px;
	top: -25px;
	border-top: 8px solid #331189;
	border-right: 8px solid transparent; 
}

#roqbox_o_4 {
	position: absolute;
	background-color: #331189;
	left: 16px;
	top: 8px;
	width: 8px;
	height: 25px;	
}

#roqbox_o_5 {
	position: absolute;
	background-color: #331189;
	left: 24px;
	top: 8px;
	width: 8px;
	height: 24px;	
}