@import 'bootstrap';
@import 'bootstrap-responsive';

a {
	color: #ffffff;
}

a:hover {
	color: #331189;
	text-shadow: 2px 2px #ffffff;
	text-decoration: none;
}

#nav_bar {
	background-color: #331189;
}

.nav_text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px; 
	color: #ffffff;
}

.arrow-left {
	width: 0; 
	height: 0; 
}

#roqbox_container {
	position: absolute;
	background-color: #ffffff;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	border: 8px solid #331189;
}

#roqbox_1 {
	position: relative;
	background-color: #331189;
	left: 8px;
	top: 16px;
	width: 8px;
	height: 16px;	
}

#roqbox_2 {
	position: relative;
	left: 8px;
	top: -8px;
	border-top: 8px solid transparent;
	border-right: 8px solid #331189; 
}

#roqbox_3 {
	position: relative;
	left: 8px;
	top: -25px;
	border-top: 8px solid #331189;
	border-right: 8px solid transparent; 
}

#roqbox_4 {
	position: absolute;
	background-color: #331189;
	left: 16px;
	top: 8px;
	width: 8px;
	height: 25px;	
}

#roqbox_5 {
	position: absolute;
	background-color: #331189;
	left: 24px;
	top: 0px;
	width: 8px;
	height: 40px;	
}

.btn {
	color: #ff0000;	
}