@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'roqbox_logo.css.scss';

#main_body {
	padding-top : 80px;
}

#nav_bar a {
	color: #ffffff;
}

#nav_bar a:hover {
	color: #331189;
	text-shadow: 2px 2px #ffffff;
	text-decoration: none;
}

#nav_bar {
	background-color: #331189;
}

.nav_text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px; 
	color: #ffffff;
}

.arrow-left {
	width: 0;
	height: 0; 
}

.btn {
	color: #ff0000;	
}